#sbi_admin{
	overflow: hidden;
}
#sbi_admin #header{
	padding: 0 0 10px 0;
}
#sbi_admin h3{
	padding: 15px 0 0 0;
	clear: both;
}
#sbi_admin .sbi_tooltip,
#sbi_admin .sbi_extra_info{
	width: 80%;
	display: none;

	padding: 10px 15px;
	margin: 10px 0;
	font-size: 13px;
	background: #f9f9f9;
	background: rgba(255,255,255,0.8);
	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
#sbi_admin .sbi_type_tooltip{
	float: left;
	clear: both;
}
#sbi_admin .sbi_tooltip p{
	font-size: 13px;
}
#sbi_admin .sbi-success {
	position: relative;
    top: -1px;

    background: #68a30b;
    color: #fff;
    font-size: 16px;
    padding: 6px;
    font-size: 13px;
    text-transform: capitalize;
    padding: 4px 8px 5px 8px;
    margin-left: 5px;
    border-radius: 3px;
}
#sbi_admin .sbi-customize-tab-opt .sbi-success {
	top: 5px;
}
#sbi_admin .sb_get_token .button-primary:active {
    height: 28px;
    margin-top: -4px;
}
#sbi_admin .sbi_more_info p{
	font-size: 13px;
}
#sbi_admin .sbi_tooltip ul{
	margin-top: 0;	
	margin-bottom: 0;
}
#sbi_admin .sbi_tooltip li{
	padding: 4px 0;
}
#sbi_admin .sbi_tooltip_link,
#sbi_admin .sbi_external_link{
	font-size: 13px;
	margin-left: 10px;
}
#sbi_admin hr{
	border: none;
	margin: 15px 0;
	border-bottom: 1px solid #ccc;
}
/* Instagram btn */
#sbi_admin .sbi_admin_btn{
	display: block;
	float: left;
	clear: both;
	padding: 0 21px 0 160px;
	height: 47px;
	line-height: 47px;
	font-size: 14px;

	background: #386793 url('../img/small-logo.png') no-repeat 16px 11px;

	color: #e9eef3;
	text-decoration: none;

	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#sbi_admin .sbi_fb_login{
	background: #386793;
	padding: 0 21px;
}
#sbi_admin .sbi_admin_btn:hover{
	background-color: #3880c4;
	color: #fff;

	-moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#sbi_admin .sbi_note{
	font-size: 12px;
	font-style: italic;
	margin-left: 10px;
}
#sbi_admin table.sbi_shortcode_table{
	border-collapse: collapse;
}
#sbi_admin table.sbi_shortcode_table th,
#sbi_admin table.sbi_shortcode_table td{
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
#sbi_admin table.sbi_shortcode_table th{
	background: rgba(0,0,0,0.1);
}
#sbi_admin table.sbi_shortcode_table td{
	background: rgba(255,255,255,0.5);
}
#sbi_admin .sbi_table_header{
	background: #ddd;
	font-weight: bold;
}

#sbi_admin .sbi_radio_label{
	width: 110px;
	padding-top: 4px;

	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}

/* Config info */
#sbi_config{
	float: left;
	width: 100%;
	clear: both;
	margin: 10px 0 10px 0;
}
#sbi_config_info{
	position: fixed;
	z-index: 999;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	background: rgba(0,0,0,0.3);
}
#sbi_config_info .sbi_config_modal{
	position: absolute;
	top: 160px;
	left: 50%;
	width: 450px;

	margin: 0 0 0 -230px;
	padding: 20px;
	background: #fff;

	-webkit-box-shadow: 0 1px 20px rgba(0,0,0,0.2);
	box-shadow: 0 1px 20px rgba(0,0,0,0.2);

	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
}
#sbi_config_info.sb_get_token .sbi_config_modal {
	text-align: center;
}
.sb_get_token .submit {
	display: inline-block;
	margin: 0 0 0 10px;
	padding: 0;
}
.sbi_config_modal .sbi_submit{
	clear: both;
    width: 100%;
    margin: 15px 0 5px 0;
    text-align: center;
}
.sbi_config_modal .button{
	margin: 0 5px;
}
#sbi_admin #sbi_connect_account:active{
	margin-top: 0;
}
.sbi_config_modal .sbi_ca_username {
	float: none;
    margin: 10px 0 0 10px;
    font-size: 18px;
    line-height: 1.2;

    display: inline-block;
    position: relative;
    top: -13px;
}
.sbi_config_modal .sbi_ca_avatar{
	float: none;
	width: 40px;
	height: 40px;
	border-radius: 5px;
}
.sbi_config_modal .sbi_modal_close{
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	font-size: 14px;
	color: #ccc;
	margin: 0;
}
.sbi_config_modal .sbi_modal_close:focus,
.sbi_config_modal .sbi_modal_close:hover{
	color: #333;
}

/* New modal info */
.sbi_config_modal p{
    font-size: 14px;
    line-height: 1.6;
}
.sbi_config_modal .sbi_login_button_row{
	display: block;
	padding: 3px 0;
	width: 350px;
    margin: 0 0 0 88px;
    text-align: left;
}
#sbi_admin .sbi_login_button_row label{
	top: -2px;
    left: 3px;
}
#sbi_admin .sbi_login_button_row label b{
	font-size: 14px;
}
#sbi_admin .sbi_login_button_row .sbi_tooltip{
	width: 90%;
    padding: 10px 5%;
	background: #eee;
}
#sbi_admin .sbi_config_modal .sbi_admin_btn{
	display: inline-block;
	float: none;
	margin: 20px 0 5px 0;
	padding: 0 21px;
	background-image: none;
}

/* Graph API pages */
/* Instagram Business Managed page */
#sbi_admin .sbi-managed-pages{
    margin: 0;
    width: 96%;
    clear: both;
    float: left;
    padding: 10px 2%;
}
#sbi_admin .sbi-scrollable-accounts {
	max-height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
}
#sbi_admin .sbi-managed-page-intro{
	padding: 0 0 20px 0;
	margin: 0;
}
#sbi_admin .sbi-managed-page-select-all{
	padding: 0 0 5px 0;
	margin: 0 0 0 1px;
}
#sbi_admin .sbi-managed-page-select-all label{
	font-size: 12px;
	top: -2px;
    left: 3px;
}
#sbi_admin .sbi-managed-page{
    width: 102%;
    border: 1px solid transparent;
    padding: 5px 1%;
    margin: 0 -1%;
    background: #fff;
    box-sizing: border-box;
    position: relative;
}
#sbi_admin .sbi-managed-page:hover{
	background: #eee;
}
#sbi_admin .sbi-managed-page .sbi-page-avatar{
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 3px;
}
#sbi_admin .sbi-managed-page label{
    padding: 0;
    margin: 0;
    height: 40px;
    line-height: 1.3;
    display: block;
}
.sbi-add-checkbox {
	display: inline-block;
	float: left;
}
.sbi-managed-page-details {
	margin-left: 30px;
}
.sbi-add-checkbox input {
	position: absolute;
	top: 50%;
	left: 1%;
	margin-top: -10px;
}

/* Locations */
#sbi_admin #sb_instagram_coordinates_options{
	display: none;
	padding: 10px 0;
}
#sbi_admin #sb_instagram_coordinates_options{
	font-size: 12px;
	line-height: 28px;
}
#sbi_admin .sbi_row{
	width: 100%;
	float: left;
	clear: both;
}
#sbi_admin .sbi_col{
	float: left;
}
#sbi_admin .sbi_col.sbi_one{
	width: 138px;
}
#sbi_admin #sb_instagram_coordinates_options .sbi_col.sbi_one{
	width: 70px;
}
#sbi_admin .sbi_col.sbi_two{
	width: 73%;
}
#sbi_admin .sbi_row input[type=radio]{
	margin: 5px 2px 0 0;
}

/* License */
#sbi_admin .sbi_license_status{
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	
	padding: 5px;
}

/* Add Facebook dashicon to sbi admin menu */
#toplevel_page_sb-instagram-feed .toplevel_page_sb-instagram-feed .wp-menu-image:before{
	content: "\f306";
}

/* Error notice */
#sbi_admin .sbi_notice{
	margin-top: 5px;
	background: #f9ecda;
	padding: 5px 10px;
	border: 1px solid #e89a2e;
	color: #cf6100;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#sbi_admin .sbi_notice a{
	color: #d85600;
}
#sbi_admin .sbi_notice a:hover,
#sbi_admin .sbi_notice a:focus{
	color: #a34100;
}
#sbi_admin .sbi_notice p{
	margin: 0;
	padding: 5px 0;
	font-size: 13px;
}
#sbi_admin .sbi_user_id_error,
#sbi_admin .sbi_other_user_error{
	display: none;

	margin: 10px 0;
	background: #F7E6E6;
	padding: 5px 10px;
	border: 1px solid #BA7B7B;
	color: #592626;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#sbi_admin #sb_instagram_header_style_boxed_options{
	display: block;
	float: left;
	clear: both;
	overflow: hidden;
	width: auto;
	padding: 10px;
	background: rgba(255,255,255,0.5);
	font-size: 12px;
	line-height: 22px;
}
#sbi_admin #sb_instagram_header_style_boxed_options p{
	float: left;
	clear: both;
	font-size: 12px;
	line-height: 22px;
	padding: 0 0 10px 0;
}



.sbi-license-expired{
	/*float: left;*/
	clear: both;
	width: 96%;
	margin: 10px 0 20px 0;
	background: #F7E6E6;
	padding: 15px 1.5%;
	border: 1px solid #BA7B7B;
	color: #592626;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.sbi-license-expired p{
	/*float: left;*/
	padding: 0;
	margin: 0 5px 0 0;
}
.sbi-license-valid{
	border: 1px solid #5baf2a;
	background: #e2f2d5;
}
#sbi-why-renew{
	clear: both;
	width: 100%;
}
#sbi-why-renew h4{
	/*float: left;*/
	clear: both;
	margin: 15px 0 0 0;
}
#sbi-why-renew p{
	margin: 0;
	clear: both;
}
.sbi-license-countdown{
	background: #fff4c6;
	border: 1px solid #905207;
	color: #905207;
}
/* Re-check button on renew notice */
.sbi-license-expired .sbi-button{
	display: inline-block;
  margin: -5px 0 -4px 15px;
  background: rgba(255,255,255,0.2);

  color: #555;
  text-decoration: none;
  font-size: 13px;
  line-height: 26px;
  height: 26px;
  padding: 0 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);

  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
}
.sbi-license-expired .sbi-button:hover,
.sbi-license-expired .sbi-button:focus{
	border: 1px solid #aaa;
	border: 1px solid rgba(0,0,0,0.3);
	background: rgba(255,255,255,0.9);
}


#sbi_admin label{
	position: relative;
}
#sbi_admin th{
	position: relative;
}
#sbi_admin .sbi_shortcode{
	display: none;
	position: absolute;
	z-index: 10;
	font-size: 11px;
	float: left;
	width: auto;
	white-space: pre-line;
	line-height: 1.4;
}
#sbi_admin .sbi_shortcode_symbol{
	position: absolute;
	right: -24px;
	bottom: 0px;
  	padding: 2px 4px 3px 3px;
	width: auto;
	font-size: 11px;
	margin-left: 5px;
}

/* Quick start */
#sbi_admin .sbi_quickstart{
    display: inline-block;
    margin: 15px 0 0 0;
    padding: 15px 20px;

    border: 1px solid #ccc;
    background: #eee;
    background: rgba(255,255,255,0.5);

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#sbi_admin .sbi_quickstart h3,
#sbi_admin .sbi_quickstart p{
    margin: 0;
    padding: 5px 0;
}

/* Update notice */
.sb_instagram_notice{
	position: relative;
	clear: both;
	width: 96%;
	margin: 20px 0;
	background: #F7E6E6;
	padding: 15px 1.5%;
	border: 1px solid #BA7B7B;
	color: #592626;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.sb_instagram_notice .sb_instagram_notice_title{
	font-size: 18px;
	padding-bottom: 5px;
}
.sb_instagram_notice p{
	padding: 0;
	margin: 0;
	font-size: 14px;
}
.sb_instagram_dismiss{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #dd3d36;
	text-decoration: none;
}

/* Directions for single post */
#sbi_admin .sbi_mixed_directions input:hover{
	cursor: pointer;
}
#sbi_admin .sbi_click_area{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 30px;
	width: 100%;
	cursor: pointer;
}

/* Moderation settings */
#sbi_admin .sb_instagram_box,
#sbi_admin .sbi_mod_manual_settings,
#sbi_admin .sb_instagram_mobile_layout_setting,
#sbi_admin .sb_instagram_layout_settings{
	float: left;
	clear: both;
	width: 96%;

	padding: 20px 2%;
	margin: 10px 0;
	font-size: 13px;
	background: #f9f9f9;
	background: rgba(255,255,255,0.8);
	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
.sb_instagram_layout_setting {
	clear:left;
	margin-bottom: 10px;
}
#sbi_admin .sb_instagram_mobile_layout_setting {
	width: auto;
}
#sbi_admin .sbi_mod_manual_settings .sbi_row{
	padding: 15px 0 15px 0;
}
#sbi_admin .sb_instagram_mobile_layout_reveal {
	margin-top: 5px;
	text-align: center;
}
#sbi_admin .sbi_mod_manual_settings label{
	display: block;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 10px;
}
#sbi_admin .sbi_mod_manual_settings .sbi_tooltip,
#sbi_admin .sb_layout_options_wrap .sbi_tooltip{
	width: 98%;
	padding: 10px 1%;
	background: #eee;
	background: rgba(0,0,0,0.05);
}
#sbi_admin .sb_instagram_apply_labels p{
	display: inline-block;
	margin: 0 2px 5px 0;
}
#sbi_admin .sb_instagram_apply_labels input{
	margin: 0 4px 0 8px;
}
#sbi_admin .sbi_white_list_names_wrapper{
	display: inline-block;
	margin-right: 10px;
}
#sbi_admin .sbi_white_list_names_wrapper.sbi_white_list_perm {
	display: block;
	margin-top: 10px;
}

/* Support page */
#sbi_admin .sbi_support{
	overflow: hidden;
	margin-bottom: 20px;
	width: 70%;
}
#sbi_admin .sbi_support p{
	width: 100%;
	float: left;
	clear: both;
	margin: 0 0 20px 0;
}
#sbi_admin .sbi-support-title{
	font-weight: bold;
	font-size: 16px;
	display: block;
	padding-bottom: 5px;
}
#sbi_admin .sbi-support-faqs{
	float: left;
	clear: both;
	width: 100%;
	padding-left: 5%;
	margin: -10px 0 10px 0;
}
#sbi_admin .sbi-support-faqs ul{
	float: left;
	width: 250px;
	margin-right: 0;
}
#sbi_admin .sbi-support-faqs ul li{
	font-size: 13px;
	margin-bottom: 4px;
}
#sbi_admin .sbi-support-faqs .fa-chevron-right{
	font-size: 8px;
	margin-left: 4px;
}
#sbi_admin #sbi-support-video{
	margin-top: 10px;
	border: 1px solid #ddd;
	display: none;
}

/* Welcome page */
.sbi-welcome h1{
	margin: 0.2em 20px 0 0;
}
.sbi-welcome .sbi-welcome-image{
	float: left;
	display: block;
	background: #fff;
	border-radius: 5px;
	margin: 5px 30px 20px 10px;

	box-shadow: 0 0 2px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0 0 2px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,.05);

  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.sbi-welcome .sbi-welcome-image img{
	width: auto;
	padding: 5px;
}
.sbi-welcome .sbi-welcome-image:hover{
	margin: 0 25px 15px 5px;

	box-shadow: 0 0 5px 3px rgba(0,0,0,.03);
  -moz-box-shadow: 0 0 5px 3px rgba(0,0,0,.03);
  -webkit-box-shadow: 0 0 5px 3px rgba(0,0,0,.03);

  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.sbi-welcome .sbi-welcome-image:hover img{
	padding: 10px;
}
.sbi-welcome .about-text{
	margin: 1em 20px 1em 0;
}
.sbi-welcome .about-description{
	padding-bottom: 20px;
}
.sbi-welcome .changelog{
	border-bottom: 1px solid #ccc;
}
.sbi-welcome .changelog::after{
	display: table;
	content: " ";
	clear: both;
}
.sbi-welcome .about-wrap .feature-section {
  padding: 0 0 20px;
}
.sbi-welcome .changelog h3{
	font-size: 16px;
	font-weight: bold;
}
.sbi-welcome .sbi-feature-section-content{
  float: left;
  padding-right: 3%;
  padding-bottom: 20px;
  width: 46%;
  box-sizing: border-box;
}
.sbi-welcome .sbi-feature-section-content-two{
  padding-left: 6%;
  width: 50%;
  margin-top: -15px;
}
.sbi-welcome .sbi-feature-section-media{
  float: right;
  text-align: right;
  margin-bottom: 20px;
  width: 51%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sbi-welcome .sbi-feature-section-media img{
	margin: 1px 1px 0 0;
	border: 10px solid #fff;
	max-width: 520px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	box-shadow: 0 0 0 1px rgba(0,0,0,.05);
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.05);
}
.sbi-welcome .sbi-feature-section-content li{
	list-style: disc;
	list-style-position: outside;
	font-size: 14px;
	line-height: 1.5;
	margin-left: 20px;
}
.sbi-welcome .sbi-feature-section-content ol{
	margin-left: 0;
}
.sbi-welcome .sbi-feature-section-content ol li{
	list-style-type: decimal;
}
.sbi-welcome .sbi-footnote{
	position: relative;
	font-size: 12px;
	line-height: 20px;
}
.sbi-welcome .sbi-footnote .fa{
	color: #f78c7e;
	margin-right: 5px;
}
.sbi-big-text{
	display: inline-block;
	position: relative;
	top: 2px;
	font-size: 20px;
	margin-right: 20px;
	padding: 6px 10px;
	text-align: center;
	background: #333;
	color: #fff;
	border-radius: 5px;
	font-family: sans-serif;
}
/* Close */
.sbi-welcome .sbi-welcome-close{
	float: right;
	font-size: 22px;
	color: #ccc;
	margin: 0;
}
.sbi-welcome .sbi-welcome-close:focus,
.sbi-welcome .sbi-welcome-close:hover{
	color: #333;
}
.sbi-page-loading{
	width: 100%;
	text-align: center;
	padding: 30px 0;
}
/* Hide last two menu items for welcome pages */
#toplevel_page_sb-instagram-feed li a[href$="sbi-welcome-new"],
#toplevel_page_sb-instagram-feed li a[href$="sbi-welcome-started"]{
	display: none;
}

/* Other plugins */
#sbi_admin .sbi-other-plugin{
	display: block;
	float: left;
	clear: both;
	width: 99%;
	max-width: 600px;
	padding: 20px 20px 5px 20px;
	margin: 15px 15px 0 0;
	background: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: inset 0 0 5px #eee;
	text-decoration: none;
	box-sizing: border-box;
}
#sbi_admin .sbi-other-plugins-header{
	margin-top: 60px;
}
#sbi_admin .sbi-other-plugins-header img{
	position: relative;
	top: 3px;
	margin-right: 8px;
}
#sbi_admin .sbi-other-plugin h3{
	padding: 0;
	margin: 0;
}

/* Disable welcome */
.sbi-welcome-intro {
	position: relative;
}
.sbi-redirect-disable {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 14px;
}

/* Connected Accounts */
#sbi_admin .sbi_connected_account {
	position: relative;
	box-sizing: border-box;
	padding: 10px 35px 10px 10px;
	border-radius: 5px;
	background: #fff;
	margin-bottom: 5px;
	overflow: hidden;
    clear: both;
    border: 1px solid #ddd;
}
#sbi_admin .sbi_ca_username {
	line-height: 1.4;
    margin-left: 15px;
    float: left;
    font-size: 18px;
}
#sbi_admin .sbi_connected_account .sbi_ca_avatar{
	margin-right: 15px;
}
#sbi_admin .sbi_connected_account .sbi_ca_username {
	margin-left: 0;
    margin-right: 15px;
}
#sbi_admin .sbi_connected_account .sbi_ca_username strong{
	float: left;
}
#sbi_admin .sbi_connected_account .sbi_ca_username span{
	font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    display: block;
}

#sbi_admin .sbi_ca_actions {
	display: inline-block;
}
#sbi_admin .sbi_ca_actions .fa{
	margin-right: 5px;
}
#sbi_admin .sbi_ca_actions a.button-primary,
#sbi_admin .sbi_ca_actions a.button-secondary,
#sbi_admin .sbi_ca_accesstoken a.sbi_ca_token_shortcode {
	font-size: 12px;
	padding: 6px;
	height: auto;
	line-height: 1;
	margin: 7px 5px 0 0;
	vertical-align: top;
}
#sbi_admin .sbi_ca_at_is_valid {
	margin-top: 10px;
	display: none;
}

@-webkit-keyframes sbi_flash {
    0% {
        background-color: #cae2a5;
        opacity:1;
        border: 1px solid #b2ce88;
    }
    100% {
        background-color: #fff;
    }
}
#sbi_admin .sbi_account_updated{
	border: 1px solid #ddd;
	background: #fff;

  -webkit-animation-name: sbi_flash;
    -webkit-animation-duration: 700ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
  -moz-animation-name: sbi_flash;
    -moz-animation-duration: 700ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
}

#sbi_admin .sbi_account_active{
	border: 1px solid #b2ce88;
	background: #ecf2e3;
}

#sbi_admin .sbi_ca_alert {
	display: none;
}
#sbi_admin .sbi_account_invalid .sbi_ca_alert {
	display: block;
}
#sbi_admin .sbi_ca_avatar{
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 5px;
}
#sbi_admin .sbi_ca_accesstoken{
	display: none;
	width: 100%;
	float: left;
	clear: both;
	margin-top: 10px;
}
#sbi_admin .sbi_ca_token_label{
	display: inline-block;
    position: relative;
    background: #f9f9f9;
    color: #555;
    padding: 3px 5px;
    font-size: 12px;
    border: 1px solid #d6d6d6;
    height: 16px;
    line-height: 15px;
    border-radius: 4px 0 0 4px;
}
#sbi_admin .sbi_ca_token{
	position: relative;
    top: 1px;
    padding: 3px 10px;
    border: 1px solid #d6d6d6;
    border-left: none;
    font-size: 12px;
    border-radius: 0 4px 4px 0;
    background: rgba(255,255,255,0.8);
    width: 510px;
    display: inline-block;
    margin-left: 0;
}
#sbi_admin .sbi_ca_accesstoken a.sbi_ca_token_shortcode{
    margin-top: 0;
    margin: 8px;
    padding: 6px;
    height: auto;
    line-height: 1;
}

#sbi_admin .sbi_delete_account{
	position: absolute;
	right: 10px;
	top: 10px;
	
	padding: 5px 10px;
	background: rgba(0,0,0,0.05);
	color: #666;
	border-radius: 50px;
	text-decoration: none;
	font-size: 12px;
}
#sbi_admin .sbi_delete_account:hover,
#sbi_admin .sbi_delete_account:focus{
	background: #333;
	color: #ddd;
}
#sbi_admin .sbi_delete_account .sbi_remove_text{
	margin-left: 5px;
}

.sbi_connected_accounts_wrap{
	vertical-align: top;
}
#sbi_admin .sbi_no_accounts{
	display: inline-block;
    padding: 4px 15px;
    border-radius: 8px;
    background: rgba(255,255,255,0.8);
    margin-bottom: 3px;
}
#sbi_admin #sbi_manual_submit:active{
	vertical-align: unset;
}
#sbi_admin .sbi_manually_connect_wrap{
	padding-top: 5px;
}
#sbi_admin .sbi_user_feed_account_wrap:first-child{
	padding-top: 5px;
}
#sbi_admin .sbi_user_feed_account_wrap:last-child{
	padding-bottom: 6px;
}
#sbi_admin .sbi_user_feed_account_wrap{
	padding-bottom: 5px;
	padding-left: 2px;
}
#sbi_admin .sbi_user_feed_account_wrap span{
	font-size: 13px;
}
#sbi_admin .sbi_manual_account_id_toggle label{
	display: block;
    margin: 10px 0 0 0;
    font-size: 13px;
}
#sbi_admin .sbi_business_profile_tag{
	display: none;
    padding: 8px 10px;
    background: rgba(0,0,0,0.05);
    border-radius: 0 5px 5px 0;
    margin: 0 0 0 -2px;
    font-size: 13px;
    height: 15px;
    line-height: 15px;
    box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}
#sbi_admin .sbi_ca_info{
	overflow: hidden;
}
#sbi_admin .sbi_ca_show_token{
	display: inline-block;
    padding: 10px 5px 0px 5px;
    margin: 0;
    font-size: 12px;
    vertical-align: top;
}
#sbi_admin .sbi_ca_shortcode{
	display: none;
	padding: 0;
    width: 100%;
    float: left;
    clear: both;
    margin: 10px 0 0 0;
}
#sbi_admin .sbi_ca_shortcode p{
	padding-bottom: 10px;
	font-size: 13px;
}
#sbi_admin .sbi_ca_shortcode code{
	margin-top: 5px;
    display: inline-block;
}
#sbi_admin .sbi_user_feed_ids_wrap .sbi_ca_avatar{
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    margin-right: 8px;
    border-radius: 4px;
}


@media all and (max-width: 1200px){
	#sbi_admin .sbi_delete_account .sbi_remove_text{
		display: none;
	}
	#sbi_admin .sbi_ca_token_label{
		display: none;
	}
	#sbi_admin .sbi_ca_token{
		border-left: 1px solid #d6d6d6;
		border-radius: 4px;
	}
}
@media all and (max-width: 800px){
	#sbi_admin .sbi_col.sbi_one {
	    width: 25%;
	    margin-right: 5%;
	}
	#sbi_admin .sbi_col.sbi_two{
		width: 70%;
	}
}

/* 3.0 */

.form-table .sb_layout_type {
	display: inline-block;
	margin-left: 20px;
}
.form-table .sb_layout_type:first-child {
	margin-left: 0;
}
.sb_instagram_layout_setting,
.sb_instagram_box_setting{
	margin-bottom: 20px;
}
.sb_instagram_layout_setting:last-child,
.sb_instagram_box_setting:last-child {
	margin-bottom: 0;
}
.sb_instagram_layout_setting label,
.sb_instagram_box_setting label {
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 5px;
	padding-right: 5px;
}
#sbi_admin .sb_layout_options_wrap .sbi_shortcode_symbol{
	bottom: 4px;
	right: -20px;
}
#sbi_admin .sb_layout_options_wrap .sbi_shortcode,
#sbi_admin .sb_instagram_box_setting .sbi_shortcode{
	position: relative;
	float: none;
	top: -4px
}

.sbi_layout_cell {
	padding: 0;
	display: inline-block;
	float: left;
	width: 155px;
	padding: 15px 15px 10px 15px;
	margin-right: 10px;
	background: #f6f6f6;
	border: 1px solid #ddd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	vertical-align: top;
}
.sbi_layout_cell:nth-child(4) {
	margin-right: 0;
}
@media all and (max-width: 1200px){
  .sbi_layout_cell{
	width: 21%;
    padding: 1%;
    margin-right: 1%;
  }
}
@media all and (max-width: 480px){
  .sbi_layout_cell{
	width: 98%;
    padding: 1%;
    margin: 5px 0;
  }
}
.sbi_label {
	font-size: 16px;
	font-weight: bold;
	padding-left: 2px;
}
.sbi_layout_cell:hover,
.sbi_layout_cell:focus{
    background: #fcfcfc;
    cursor: pointer;
}
.sbi_layout_cell.sbi_layout_selected{
    background: #f7faf1;
    border: 1px solid #7ad03a;
}
.sbi_layout_cell h3{
    font-size: 15px;
    margin-top: 0;
}
.sbi_layout_cell img{
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 5px;
}

#sbi_admin #sb_instagram_width_options{
	margin-top: 5px;
	display: none;
}
#sbi_admin #sb_instagram_width_options label {
	font-size: 13px;
	position: relative;
	top: -2px;
}

/* Sub tabs for Customize page */

/* Quick links */
#sbi_admin .sb_instagram_contents_links{
	float: left;
	clear: both;
	width: 98%;
	margin: 0;
	padding: 10px 1%;
	border-top: none;
	margin-bottom: 30px;
	background: #fff;
	border-left: 1px solid #e9e9e9;

	box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
}
#sbi_admin .sb_instagram_contents_links a,
#sbi_admin .sb_instagram_contents_links span{
	display: block;
	float: left;
	padding: 2px 5px;
	font-size: 12px;
}
#sbi_admin .sb_instagram_contents_links span{
	padding-left: 0;
}

#sbi_admin .sbi-subtabs{
	padding: 0;
	margin-left: 1px;
	border-bottom: 0;
}
#sbi_admin .sbi-subtabs a{
	background: none;
	margin: 0;
	padding: 10px 12px;
	border: none;
	font-size: 13px;
	line-height: 20px;
}
#sbi_admin .sbi-subtabs .nav-tab-active{
	position: relative;
	background: #fff;

  box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
}
#sbi_admin .sbi-subtabs .nav-tab-active:after{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -5px;
	height: 6px;
	content: "";
	background: #fff;
}
#sbi_admin .sbi-expand-button,
#sbi_admin .sbi-expand-button p{
	margin-top: 0;
	padding-top: 0;
}
#sbi_admin .sbi-expand-button a{
	display: block;
	width: 450px;
	text-align: center;
}

/* Expand settings button */
#sbi_admin .sbi-expand-button, #sbi_admin .sbi-expand-button p {
    margin-top: 0;
    padding-top: 0;
}
#sbi_admin .sbi-expand-button a {
    display: block;
    width: 450px;
    text-align: center;
}
#sbi_admin .sbi-expandable-options{
	display: none;
}

/* Welcome page notice */
.sbi_welcome_page_notice{
	background: rgba(255,255,255,0.9);
	border: none;
	color: #333;
	width: 97%;
	padding: 10px;
	margin-left: 2px;
	/*border-left: 4px solid #ffba00; - orange */
	border-left: 4px solid #ea4854; /* red */
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.sbi_welcome_page_notice .fa-instagram{
	margin: 0 5px;
}

/* New API styles */
#sbi_config_info.sb_list_businesses .sbi_config_modal {
	width: 90%;
	left: 5%;
	margin-left: -10px;
}
@media all and (min-width: 960px){
	#sbi_config_info.sb_list_businesses .sbi_config_modal {
		width: 70%;
		margin-left: 0;
		max-width: 600px;
		margin: 0 auto;
		float: none;
		position: relative;
		overflow: hidden;
		left: 0;
	}
}

/* Deprecated */
#sbi_admin .sbi_deprecated {
	position: relative;
    display: block;
    float: left;
    clear: both;
    padding: 10px;
    margin: 0 -10px;
    min-width: 550px;
    border-radius: 5px;
    color: #aaa;
}
#sbi_admin .sbi_deprecated label{
	margin-left: 4px;
	font-size: 12px;
}
#sbi_admin .sbi_deprecated input[type=text]{
	height: 22px;
}
#sbi_admin .sbi_lock{
	width: 190px;
    padding: 6px 8px;
    position: absolute;
    top: 16px;
    left: 200px;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    z-index: 99;
    font-size: 12px;
    color: #888;
    text-decoration: none;
    border: 1px solid #ddd;
    text-align: center;
}
#sbi_admin .sbi_lock:hover{
	background: #fff;
    border: 1px solid #ccc;
    color: #222;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
}
#sbi_admin .sbi_lock i{
	margin-right: 6px;
}

/* Hashtag order setting */
#sbi_admin .sbi_radio_reveal{
	max-width: 291px;
	display: block;
    padding: 10px;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    margin: 5px 0 10px 1px;
    overflow: hidden;
}
#sbi_admin .sbi_radio_reveal > label{
	display: inline-block;
	margin: 0 0 6px 0;
}
#sbi_admin .sbi_radio_reveal .sbi_row label{
	display: inline-block;
	padding: 4px 0 0 4px;
}
#sbi_admin .sbi_radio_reveal label span{
	font-size: 12px;
	padding-left: 6px;
}
#sbi_admin .sbi_order_tooltip_link{
	font-size: 13px;
}
#sbi_admin .sbi_radio_reveal .sbi_tooltip{
	width: 98%;
	padding: 15px 1% 5px 1%;
	margin: 0;
}
#sbi_admin .sbi_radio_reveal .sbi_shortcode{
	height: 14px;
    width: 173px;
    position: absolute;
    background: rgb(238, 238, 238);
    left: 110px;
    top: -1px;
}

/* Hashtag Feed issue notice */
#sbi_admin .sbi_hashtag_feed_issue{
	max-width: 520px;
	margin: 5px 0 10px 0;
	background: rgba(249,235,235,0.3);
	padding: 10px 10px 5px 10px;
	border: 1px solid #edc5c5;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#sbi_admin .sbi_hashtag_feed_issue_note {
    float: left;
    clear: both;
    font-size: 12px;
    padding: 0;
    color: #9d2f2f;
}

/* Test connection */
#sbi-admin .sbi-test-license-error {
	margin-top: 10px;
	max-height: 300px;
	overflow-y: scroll;
	width: 99%;
	border: 1px solid #ddd;
	background: rgba(255,255,255,0.3);
	padding: 2px;
} 